.header {
    background-color: #2a2a2a;
    padding: 10px 0;
    height: 160px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.navbar_item {
    padding: .8em;
    transition: all .3s linear;
    cursor: pointer;
    color: white;

}

.navbar_item :hover {
    background-color: snow;
    color: #2a2a2a;
    border-radius: 4px;
    
}

.navbar_img {
    width: 150px;
    height: 150px;
}

